* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard Variable", sans-serif;
}
.mainscreen {
  width: 100vw; /* Viewport Width: 가로 크기를 윈도우 크기만큼 설정 */
  height: 100vh; /* Viewport Height: 세로 크기를 윈도우 크기만큼 설정 */
  background-color: skyblue;
  position: relative;
}
.rightscreen {
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: pink;
  overflow: hidden;
}
.title1 {
  position: absolute;
  top: 60px;
  left: 5%;
  font-weight: bold;
  font-size: 120px;
  color: black;

}
.title2 {
  position: absolute;
  font-size: 90px;
  right: 100px;
  top : 35%;
  color: black;
  font-weight: bold;
}
.title3 {
  position: absolute;
  font-size: 120px;
  left: 10%;
  top : 62%;
  color: black;
  font-weight: bold;
}
.title4 {
  position: absolute;
  bottom: 60px;
  left: 35%;
  font-size: 90px;
  color: black;
  font-weight: bold;
  white-space: nowrap;
}
.leftscreen {
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  background-image: url(/ASSET/Wallpaper.jpg);
}
.popupMain {
  position: absolute;
  width: 1000px;
  height: 1080px;
  border-radius: 30px;
  border: 2px rgba(0, 0, 0, 0.17) solid;
  box-sizing: border-box;
  background-color: #F5F5F5;
  box-shadow: 5px 5px 50px 2px rgba(0, 0, 0, 0.35);
}
.popupTop {
  position: relative;
  top: 0px;
  width: 100%;
  height: 60px;
  background: #D9D9D9;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  /* border: 2px rgba(0, 0, 0, 0.17) solid; */
  /* box-sizing: border-box; */
}
.group {
  width: 80px;
  position: relative;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  top: 17px;
  left: 40px;
}

.Ellipse1{
  width: 20px;
  height: 20px;
  background: #FD5F5F; 
  border-radius: 50%;
}
.Ellipse2{
  width: 20px;
  height: 20px;
  background: #FFB049;
  border-radius: 50%;
}
.Ellipse3{
  width: 20px;
  height: 20px;
  background: #75D56E;
  border-radius: 50%;
}
.rightscreen a {
  text-decoration: none; 
  color: inherit;
}
.rightscreen a:hover, a:focus {
  text-decoration: none; 
  color: white; 
}